<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>About</title>
                      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
                        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
                        <link rel="stylesheet" href="/stylesheets/addmed.css">
    </head>
    <body>      
    <% include adminnavbar.ejs %>      
 <div class="container-fluid">
   <br><br><br><br>
     <div class="row d-flex justify-content-center">
       <h1 class="text-success">About Us</h1>  
    <h3 class="text-warning">Know us </h3>
    </div>  
        <br><br>
         <div class="d-flex justify-content-center">
        <img src="/images/events_medium.jpg" alt="Our Logo" class="rounded-circle img-fluid aboutimage"  />
        </div>
        <br>
    <div class="row rounded">
        <br><br>  
        <h5  class="font-weight-bold aboutdescription">The team does not charge any fees to its students*. Yes, this might sound strange. However, the company earns its profits through its suppliers, with whom a very strong relationship has been built. This does not mean that the costs are up-marked to make up for the fee. On the contrary, they are less than it would cost a company when booking directly. We know it sounds too good to believe, but over the years this formula has helped the Event Planner team become the success story they are today. This has not in any way reduced the level of professionalism with which the services are carried, as shown by the large number of local and international clients,  who work with us on a regular basis.</h5>
        </div>
          </div>   
         <div>
        </div>     
 <% include footer.ejs %>
    </body>
</html>
