<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Event Details
        </title>
  
                   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
                        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    </head>
    
    <body>
        
     <div class="container">
         
         <div class="row">
             <% include adminnavbar.ejs %>
         </div>
   <br> <br> <br>  <br> <br> <br>
         <button class="btn btn-warning" data-toggle="collapse" data-target="#collapsingevent"  aria-expanded="false" aria-controls="collapsingevent">Post Events</button>
         
         
          <div id="collapsingevent" class="collapse">
          <div class="d-flex justify-content-center">
     <br>
    <h4>Event Publish Confirm Form</h4>
 
    </div>
 <div class="d-flex justify-content-center">
  <form class=" col-lg-6 signupform">
      <br>
          <div class="form-group">
        
      <label for="name" class="labelname">Event Name:</label>
         
      <input type="text" class="form-control  mx-auto namebox " id="name" disabled  >
    </div>
         
          
          <div class="form-group">
        
      <label for="place" class="labelname">Place:</label>
         
      <input type="text" class="form-control  mx-auto namebox" id="place" disabled >
    </div>
          <div class="form-group">
        
      <label for="purpose" class="labelname">Purpose:</label>
         
      <input type="text" class="form-control  mx-auto namebox" id="purpose" disabled >
    </div>
    <div class="form-group">
        
      <label for="description" class="labelname">Description:</label>
         
      <input type="text" class="form-control  mx-auto namebox" id="description" disabled>
    </div>
    <div class="form-group">
      <label for="date" class="labelname">Date:</label>
      <input type="date" class="form-control  mx-auto namebox" id="date" disabled>
    </div>
        <div class="form-group">
      <label for="date" class="labelname">Image Upload:</label>
      <!-- <input type="file" class="form-control  mx-auto namebox" accept="image/*" name="imageFile" id="imageFile" > -->
      <input type="text" class="form-control  mx-auto namebox" id="imagename" disabled>
    </div>
    <div class="d-flex justify-content-center">
     <button type="submit" class="btn btn-success btn-lg" id="postevent">Post Event</button>  
 
    </div>
   <br>
  </form>
         </div>  
         </div>
            
         <br><br>
         
      <h2 class="regisevent">Requested Events</h2>

      <table class="table col-sm-12" class="eventtable">
        <thead>
          <tr class="eventlist">
              <th scope="col" class="title">UserameofRequestor</th>
            <th scope="col" class="title">Name</th>
              <th scope="col" class="title">Place</th>
               <th scope="col" class="title">Purpose</th>
               
            <th scope="col" class="title">Description</th>
               <th scope="col" class="title">Date</th>
            <th scope="col" class="title">Image</th>
             
          </tr>
        </thead>
        <tbody id="tblbody">
        </tbody>
      </table>
        </div>
     <% include footer.ejs %>
    </body>
        <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <script src="javascripts/viewrequest.js"></script>
    </html>