
<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>About</title>
        
                      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
                        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/stylesheets/addmed.css">
        

    </head>
    
    <body>
        
        <div class="container-flid">
    
            <% include navbar.ejs %>
        
     <div class="d-flex justify-content-center">
     <br>
       <h1 class="text-success">Clear the Confusion</h1>
         
    </div>
        
        <div class="row col-lg-10">
        
        <p class="font-weight-bold">&nbsp;<i class="fa fa-th-large" style="font-size:24px"></i>
           &nbsp; How to Know whether the Event Have been Expired or not?</p>
        </div>
        
           <div class="d-flex justify-content-center ">
            <div class="row col-lg-7 aboutdescription aboutdescription rounded">
        <br><br>
        
        <p  class="font-weight-bold">Admininstration will work after it. As the events get expired they will delete those events.</p>
        </div>
        </div>
        <br>
            <div class="row col-lg-10">
        
        <p class="font-weight-bold">&nbsp;<i class="fa fa-th-large" style="font-size:24px"></i>
           &nbsp; How do I know that my event have been posted?</p>
        </div>
         <div class="d-flex justify-content-center ">
            <div class="row col-lg-7 aboutdescription aboutdescription rounded">
        <br><br>
        
        <p  class="font-weight-bold">Admininstration will post those event if feasible and you can find it in events list in home page.</p>
        </div>
        </div>
        
        <br>
            <div class="row col-lg-10">
        
        <p class="font-weight-bold">&nbsp;<i class="fa fa-th-large" style="font-size:24px"></i>
           &nbsp; How much they charge for adverstising any event?</p>
        </div>
         <div class="d-flex justify-content-center ">
            <div class="row col-lg-7 aboutdescription aboutdescription rounded">
        <br><br>
        
        <p  class="font-weight-bold">The company is non-profit organistaion. However they wil get comiision byb recommending you catering company, free land to conduct your event, transportation and we have donation box from which many charity works have been carried out. </p>
        </div>
        </div>
        
        <br>
            
      
        </div>
           <% include footer.ejs %>
    </body>
</html>