<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mynew Project</title>

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
                        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
       <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    
    </head>
<body >

       <div class="row">
 <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
     
     <a href="/clientdashboard" class="navbar-brand">Exchange</a>
       <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarcollapses">
       <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarcollapses">
       <ul class="navbar-nav ml-auto" >
           <li class="nav-item" >
           <a href="/clientdashboard" class="nav-link">Home</a>
           </li>
            <li class="nav-item"><a href="/requestevent" class="nav-link">RequestEvent</a></li>
            <li class="nav-item"><a href="/displayrequestevent" class="nav-link">RequestedEvents</a></li>
            <li class="nav-item"><a href="/clientblog" class="nav-link">Blog</a></li>
                       <li class="nav-item"><a href="/clientjob" class="nav-link">Job</a></li>
           <li class="nav-item"><a href="/clientabout" class="nav-link">About</a></li>
            <li class="nav-item"><a href="/help" class="nav-link">Help</a></li>
           <li class="nav-item"><a  class="nav-link" id="logout">Logout</a></li>
           </ul>
       </div>
  
           
    </nav>
       </div>





</body>
<script src="javascripts/logout.js"></script>
</html>